@using Microsoft.AspNetCore.Identity
@using HajurkoCarRental.Areas.Identity.Data

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "User Status Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="table-container">
<div class="d-flex justify-content-between align-items-center mb-3 mt-3">
    <h3 class="">User Status Report</h3>

</div>

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" data-bs-toggle="tab" href="#frequent" aria-selected="true" role="tab">
            Customers who frequently rent cars
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" data-bs-toggle="tab" href="#inactive" aria-selected="false" tabindex="-1" role="tab">
            Inactive Customers
        </a>
    </li>

</ul>
<div id="myTabContent" class="tab-content">
    <br />

    <div class="tab-pane fade show active" id="frequent" role="tabpanel">
        <p class="mb-3">These are the users and their car renting frequency</p>

        <table class="table align-middle mb-0 mt-4">
            <thead class="bg">
                <tr>
                    <th>Profile</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                    <th>Total Rentals</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in ViewBag.FrequentCustomers)
                {
                    <tr>
                        <td>

                            @if (obj.Picture != null)
                            {
                                <img style="width:45px;height:45px; object-fit:cover;border-radius:50%;" src="data:image/*;base64,@(Convert.ToBase64String(obj.Picture))">
                            }
                            else
                            {
                                    <img style="width:45px;height:45px; object-fit:cover;border-radius:50%;" src="http://surl.li/gtezq" />
                            }
                        </td>
                        <td>@obj.FullName</td>
                        <td>@obj.Email</td>

                        @if (obj.PhoneNumber != null)
                        {
                            <td>@obj.PhoneNumber</td>
                        }
                        else
                        {
                            <td>-</td>
                        }


                        <td>
                            @obj.Address
                        </td>
                        <td style="font-weight:bold;font-size:120%;">
                            @obj.TotalRental
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <div class="tab-pane fade" id="inactive" role="tabpanel">
        <p class="mb-3">These are the users who are inactive.</p>
            <table class="table align-middle mb-0 mt-4">
            <thead>
                <tr>
                    <th>Profile</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                    <th>Total Rentals</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in ViewBag.InactiveCustomers)
                {
                    <tr>
                        <td>

                            @if (obj.Picture != null)
                            {
                                <img style="width:45px;height:45px; object-fit:cover;border-radius:50%;" src="data:image/*;base64,@(Convert.ToBase64String(obj.Picture))">
                            }
                            else
                            {
                                <img style="width:45px;height:45px; object-fit:cover;border-radius:50%;" src="https://img.freepik.com/premium-vector/young-smiling-man-avatar-man-with-brown-beard-mustache-hair-wearing-yellow-sweater-sweatshirt-3d-vector-people-character-illustration-cartoon-minimal-style_365941-860.jpg">
                            }
                        </td>
                        <td>@obj.FullName</td>
                        <td>@obj.Email</td>

                        @if (obj.PhoneNumber != null)
                        {
                            <td>@obj.PhoneNumber</td>
                        }
                        else
                        {
                            <td>-</td>
                        }


                        <td>
                            @obj.Address
                        </td>
                        <td style="font-weight:bold;font-size:120%;">
                            @obj.TotalRental
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    </div>

</div>