@model HajurkoCarRental.Models.Damage

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="p-3">
    <div>
        <h2 class="text-primary">Are you sure you want to delete the  detail of @Html.DisplayFor(model=>model.Car.Brand) regarding damages</h2>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                Repair Cost
            </dt>
            <dd class="col-sm-10">
                @if (Model.RepairCost != null)
                {
                    <span>Rs.</span> @Model.RepairCost
                }
                else
                {
                    <span>---</span>
                }
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Car)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Car.Brand)
            </dd>
            <dt class="col-sm-2">
                User
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.FullName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Paid)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Paid)
            </dd>
        </dl>

        <form asp-action="Delete" class="d-flex align-items-center gap-3">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger btn-icon w-150">
                <span>
                    <i class="bi bi-trash3-fill"></i>
                </span>
                <span>Delete</span>
            </button>
            <a asp-action="Index" class="btn btn-secondary btn-icon w-150">
                <span>
                    <i class="bi bi-backspace-fill"></i>
                </span>
                <span>
                    Back to List
                </span>
            </a>
        </form>
    </div>

</div>